.text-block.edition[lang^='ta-Taml'] {
    word-spacing: 1rem;
}
:lang['en'] {
    word-spacing: normal;
}

#record-fat section > table {
    max-width: unset;
    width: 100%;
}

span.choice {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;

}
span.choice > span:not(:last-child)::after {
    content: '';
}
span.choice > span, span.choice > ruby {
    line-height: 1.8rem;
}

span.choice > span:last-child ruby {
    ruby-position: under;
}

div.lg div.l {
    line-height: 3.5rem;
    padding-left: 1rem;
    text-indent: -1rem;
}

span.choice {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left:inherit;
}

div.lg div.l.indent {
    text-indent: -1rem;
    padding-left: 2rem;
}
div.lg div.l.indent2 {
    text-indent: -1rem;
    padding-left: 3rem;
}
div.lg div.l.indent3 {
    text-indent: -1rem;
    padding-left: 4rem;
}
div.lg div.l.indent4 {
    text-indent: -1rem;
    padding-left: 5rem;
}
div.lg div.l.indent5 {
    text-indent: -1rem;
    padding-left: 6rem;
}
div.lg div.l.indent6 {
    text-indent: -1rem;
    padding-left: 7rem;
}
.text-block:first-child { line-height: 3.5rem;}
.text-block:last-child {line-height: 3.5rem; }
rt { padding-bottom: 0.5rem;}
rt:hover, span.word:hover { background-color: yellow; cursor: pointer; }
#tooltip { font-size: 1.1rem; }

.standOff {
    display: none;
}

span.word.split {
    animation-duration: 0.5s;
    animation-name: slideout;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    margin-right: 0.5rem;
}

span.invisible {
    color: rgba(17,17,17,0.5);
}

#topbar {
    position: sticky;
    top: 1em;
    margin-left: -3.5rem;
    display: flex;
    flex-direction: column;
}

#topbar > div {
    margin: 0 0 1rem 0;
}
#topbar > div:hover {
    background: #ff9900;
    border: 1px solid #ff9900;
}

#transbutton {
    width: fit-content;
    position: relative;
    left: 0;
}
#wordsplitbutton, #apparatusbutton {
    position: relative;
    border: 1px solid black;
    padding: 0;
    width: fit-content;
    cursor: pointer;
    display: none;
}
#metricalsvg, #translationsvg {
    display: none;
}
#wordsplitsvg, #metricalsvg, #apparatussvg, #translationsvg {
    padding: 5px 4px 1px 5px;
}

.lemmalookup:hover svg {
    filter: drop-shadow(2px 2px 2px #ff9900);
}

.coord-suggestion {
    display: block;
    position: fixed;
    background: rgba(17,17,17,0.8);
    border-radius: 4px;
    color: #fff;
    font-style: normal;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: normal;
    vertical-align: middle;
    padding: 0.5em 1em;
    margin-bottom: 11px;
    max-width: 200px;
    z-index: 3;
}
@keyframes slideout {
    from { margin-right: 0; }
    to { margin-right: 0.5rem; }
}

#blackout {
    z-index: 10;
    position: fiex;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(50,50,50,0.5);
}

.popup {
    max-width: 50%;
    background: #f5f2f0;
    padding: 2rem;
    font-size: 1.1rem;
    white-space: pre;
}
